<?xml version="1.0" encoding="utf-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="testinstall2@testapp.jelix.org" name="testinstall2">
#expand        <version date="__TODAY__">__VERSION__</version>
        <label>testapp</label>
        <description>module to test installer</description>
        <license URL=""></license>
        <copyright>Copyright 2009-2011 jelix.org</copyright>
    </info>
    <dependencies>
#expand        <jelix minversion="__LIB_VERSION__" maxversion="__LIB_VERSION_MAX__" />
    </dependencies>
</module>