<?xml version="1.0" encoding="utf-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="testinstall3@testapp.jelix.org" name="testinstall3">
        <version date="2023-11-23 16:01">1.8.4</version>
        <label>testapp</label>
        <description>module to test installer</description>
        <license URL=""/>
        <copyright>Copyright 2009-2011 jelix.org</copyright>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.3" maxversion="1.8.5"/>
    </dependencies>
</module>
