<?xml version="1.0" encoding="utf-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="aaa@testapp.jelix.org" name="aaa">
        <version>1.0</version>
        <label>aaa</label>
    </info>
    <dependencies>
        <jelix minversion="1.2" maxversion="1.3" />
    </dependencies>
</module>