<?xml version="1.0" encoding="utf-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="news@testapp.jelix.org" name="news">
        <version date="2016-06-04">1.0</version>
        <label>news</label>
        <description>module to test urls</description>
        <license URL=""/>
        <copyright>Copyright 2016 jelix.org</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.8-pre" maxversion="1.7.8"/>
        <module name="jelix_tests" minversion="1.7.8-pre" maxversion="1.7.8-pre"/>
    </dependencies>
</module>
