<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jauth@modules.jelix.org" name="jauth" createdate="2006-12-23">
        <version date="2023-01-23 12:53">1.8.0-rc.4</version>
        <label lang="en_US">basic web interface for jAuth</label>
        <description lang="en_US">It provides a login form, a controller to login and logout, and
        a basic dao.</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2008-2021 Laurent Jouanneau and other contributors</copyright>
        <author name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix version="&gt;=1.7.0-beta.4,&lt;=2.0.0-alpha.1"/>
    </dependencies>
</module>
