<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jauth@modules.jelix.org" name="jauth" createdate="2006-12-23">
        <version date="2024-03-18 09:23">1.8.9-pre</version>
        <label lang="en_US">basic web interface for jAuth</label>
        <description lang="en_US">It provides a login form, a controller to login and logout, and
        a basic dao.</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2008-2021 Laurent Jouanneau and other contributors</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.4" maxversion="1.8.9"/>
    </dependencies>
</module>
