;<?php die(''); ?>
;for security reasons, don't remove or modify the first line

; nom de la connexion utilisée par défaut
default = demo

; chaque section correspond à une connexion
; le nom de la section est le nom de la connexion utilisé dans jDb et jDao
; la liste des paramètres dépend du driver.

[demo]

; pour la plupart des drivers :
driver="mysql"
database="jelixdemo"
host= "localhost"
user= "jelix"
password= "jelix"
persistent= on


; pour pdo :
;driver=pdo
;dsn=mysql:host=localhost;dbname=test
;user=
;password=
