<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jacl2_admin@modules.jelix.org" name="jacl2_admin" createdate="">
#expand        <version stability="stable">__LIB_VERSION__</version>
        <label lang="en-EN">jAcl2 administration</label>
        <description lang="en-EN">Web interface to manage rights with jAcl2</description>
        <licence URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</licence>
        <copyright>2008 Laurent Jouanneau and other contributors</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true" />
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
#expand        <jelix minversion="__LIB_VERSION__" maxversion="__LIB_VERSION__" />
    </dependencies>
</module>