<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jauthdb@modules.jelix.org" name="jauthdb" createdate="2009-07-15">
        <version date="2023-01-18 17:31">1.8.0-rc.3</version>
        <label lang="en_US">ressources for db driver of jAuth</label>
        <description lang="en_US">It provides a basic dao and install scripts.</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2008-2021 Laurent Jouanneau and other contributors</copyright>
        <author name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix version="&gt;=1.7.0-beta.4,&lt;=2.0.0-alpha.1"/>
    </dependencies>
</module>
