<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jacl@modules.jelix.org" name="jacl" createdate="2012-02-08">
        <version date="2025-02-06 15:04">1.8.16</version>
        <label lang="en_US">jAcl</label>
        <description lang="en_US">Old API for jAcl</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2008-2018 Laurent Jouanneau and other contributors</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.4" maxversion="1.8.17"/>
    </dependencies>
    <autoload>
        <class name="jAcl" file="classes/jAcl.class.php"/>
    </autoload>
</module>
