<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="http://jelix.org/ns/events/1.0">
   <listener name="\JelixTests\Tests\Listener\TestEventsListener">
      <event name="TestEventWithParams" />
      <event name="TestEvent" />
       <event name="TestEventResponse" />
   </listener>
   <listener name="\JelixTests\Tests\Listener\TestAttrEventsListener"/>
   <listener name="testdaoevents">
      <event name="daoDeleteBefore" />
      <event name="daoDeleteAfter" />
      <event name="daoUpdateBefore" />
      <event name="daoUpdateAfter" />
      <event name="daoInsertBefore" />
      <event name="daoInsertAfter" />
      <event name="daoDeleteByBefore" />
      <event name="daoDeleteByAfter" />
   </listener>
</events>