<?xml version="1.0" encoding="utf-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jelix_tests@testapp.jelix.org" name="jelix_tests">
        <version date="2023-04-14 21:57">1.9.0-pre</version>
        <label>Jelix tests</label>
        <description>unit tests for jelix</description>
        <license URL=""/>
        <copyright>Copyright 2006-2011 jelix.org</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.3" maxversion="1.9.0"/>
        <module name="testurls" minversion="1.9.0-pre" maxversion="1.9.0-pre"/>
               <module name="jauthdb"/>
               <module name="jacl2db"/>
               <module name="jacldb"/>
    </dependencies>
    <autoload>
        <class name="myautoloadedclass" file="autoloadtest/autoloadtestclass.php"/>
        <classPattern pattern="/^myalclass/" dir="autoloadtest/withpattern/" suffix=".cl.php"/>
        <namespace name="jelixTests\foo" dir="autoloadtest"/>
        <namespacePathMap name="jelixTests\bar" dir="autoloadtest/barns" suffix=".class.php"/>
        <includePath dir="autoloadtest/incpath" suffix=".php"/>
        <autoloader file="autoloadtest/myautoloader.php"/>
        <namespacePathMap name="JelixTests\Tests" dir="lib"/>
    </autoload>
</module>
