
#rights treechildren::-moz-tree-row(subject){
    background-color:#dff0f8;

}
#rights treechildren::-moz-tree-row(subject,selected){
    background-color:#53a8cf;
}

#rights treechildren::-moz-tree-checkbox{
    list-style-image: url("no_right.png");
}

#rights treechildren::-moz-tree-checkbox(checked){
    list-style-image: url("right_ok.png");
}

#rights treechildren::-moz-tree-checkbox(container){
    list-style-image: url("");
}

#rights treechildren::-moz-tree-checkbox(container, checked){
    list-style-image: url("");
}
