@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

description.title-page {
   border: 2px inset;
   background-color:#2626ac;
   color:white;
   font-size:1.3em;
   font-weight:bold;
   padding:3px;
}