<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="Jelix Core">
      <directory>jelix/core/</directory>
    </testsuite>
    <testsuite name="Jelix Cache">
      <directory>jelix/cache/</directory>
    </testsuite>
    <testsuite name="Jelix Db">
      <directory>jelix/db/</directory>
    </testsuite>
    <testsuite name="Jelix Dao">
      <directory>jelix/daos/</directory>
    </testsuite>
    <testsuite name="Jelix Events">
      <directory>jelix/events/</directory>
    </testsuite>
    <testsuite name="Jelix KVDb">
      <directory>jelix/kvdb/</directory>
    </testsuite>
    <testsuite name="Jelix Installer">
      <directory>jelix/installer/</directory>
    </testsuite>
    <testsuite name="Jelix Utils">
      <directory>jelix/utils/</directory>
    </testsuite>
    <testsuite name="Jelix Forms">
      <directory>jelix/forms/</directory>
    </testsuite>
    <testsuite name="Jelix Auth">
      <directory>jelix/auth/</directory>
    </testsuite>
    <testsuite name="Jelix Acl">
      <directory>jelix/acl/</directory>
    </testsuite>
    <testsuite name="jPref ">
      <directory>jelix/prefs/</directory>
    </testsuite>
    <testsuite name="Jelix tpl">
      <directory>jelix/tpl/</directory>
    </testsuite>
    <testsuite name="Jelix soap">
      <directory>jelix/soap/</directory>
    </testsuite>
    <testsuite name="Routing">
      <directory>jelix/routing/</directory>
    </testsuite>
    <testsuite name="Dependencies Resolver">
      <directory>jelix/Dependencies/</directory>
    </testsuite>
    <testsuite name="Web Assets">
      <directory>jelix/WebAssets/</directory>
    </testsuite>
    <testsuite name="Ldap/dao driver">
      <directory>../vendor/jelix/ldapdao-module/tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
