<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="Jelix Core">
      <directory>jelix/core/</directory>
    </testsuite>
    <testsuite name="Jelix Core">
      <directory>jelix/db/</directory>
    </testsuite>
    <testsuite name="Jelix Installer">
      <directory>jelix/installer/</directory>
    </testsuite>
    <testsuite name="Jelix Utils">
      <directory>jelix/utils/</directory>
    </testsuite>
  </testsuites>
</phpunit>
