<?xml version="1.0" encoding="utf-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="testapp@testapp.jelix.org" name="testapp">
        <version date="2022-06-30 11:28">1.8.0-alpha.2</version>
        <label>testapp</label>
        <description>Test application</description>
        <license URL=""/>
        <copyright>Copyright 2006-2011 jelix.org</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.3" maxversion="1.8.0"/>
        <module name="jelix_tests" minversion="1.8.0-alpha.2" maxversion="1.8.0-alpha.2"/>
    </dependencies>
    <autoload>
        <psr4 namespace="\Testapp\Tests" dir="lib/"/>
    </autoload>
</module>
