.DS_Store
Thumbs.db
app/system/auth_ldap.coord.ini.php
var/config/installer.ini.php
var/config/profiles.ini.php
var/config/localconfig.ini.php
var/config/liveconfig.ini.php
var/config/installer.bak.ini.php
var/db/sqlite3/tests.sqlite3
var/log/*
!var/log/.dummy
var/sessions/*
!var/sessions/.dummy
var/uploads/*
!var/uploads/.dummy
var/mails/*
!var/mails/.dummy
composer.lock
temp/*
!temp/.dummy
tests-jelix/jelix/installer/app1/var/config/installer.ini.php
tests-jelix/jelix/installer/app1/var/config/installer.bak.ini.php
tests-jelix/jelix/installer/app1/var/config/liveconfig.ini.php
tests-jelix/jelix/installer/app1/var/config/profiles.ini.php
tests-jelix/.phpunit.result.cache
docker-conf/certs/*
!docker-conf/certs/.dummy
www/newep.php
var/config/newep
app/system/newep
