<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jacl2@modules.jelix.org" name="jacl2" createdate="2012-09-18">
        <version date="2024-11-07 14:31">1.8.14-pre</version>
        <label lang="en_US">jAcl2</label>
        <description lang="en_US">Main module for acl</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2006-2021 Laurent Jouanneau and other contributors</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.4" maxversion="1.8.14"/>
    </dependencies>
    <autoload>
        <class name="jAcl2" file="classes/jAcl2.class.php"/>
        <class name="jIAcl2Driver" file="classes/jIAcl2Driver.iface.php"/>
        <class name="jIAcl2Driver2" file="classes/jIAcl2Driver2.iface.php"/>
        <class name="jAcl2Authentication" file="classes/jAcl2Authentication.class.php"/>
        <class name="jAcl2JAuthAdapter" file="classes/jAcl2JAuthAdapter.class.php"/>
        <class name="jAcl2AuthAdapterInterface" file="classes/jAcl2AuthAdapterInterface.iface.php"/>
        <class name="jAcl2AuthAdapterInterface2" file="classes/jAcl2AuthAdapterInterface2.iface.php"/>
    </autoload>
</module>
