<?xml version="1.0" encoding="utf-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="testurls@testapp.jelix.org" name="testurls">
        <version date="2023-10-24 11:32">1.8.3</version>
        <label>testurls</label>
        <description>Test module for urls</description>
        <license URL=""/>
        <copyright>Copyright 2006-2011 jelix.org</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.3" maxversion="1.8.4"/>
    </dependencies>
</module>
