<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jtcpdf@modules.jelix.org" name="jtcpdf" createdate="2012-09-10">
        <version date="2018-03-21">1.6.17</version>
        <label lang="en_US">TCPDF support</label>
        <description lang="en_US">Provides a response for TCPDF, to generate PDF</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2012-2018 Laurent Jouanneau and other contributors</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
#expand        <jelix minversion="1.5" maxversion="__LIB_VERSION_MAX__"/>
    </dependencies>
    <autoload>
        <class name="jTcpdf" file="classes/jTcpdf.php" />
    </autoload>
</module>
