<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="master_admin@modules.jelix.org" name="master_admin" createdate="2008-12-22">
        <version date="2022-06-30 11:28">1.8.0-alpha.2</version>
        <label lang="en_US">Main Administration Interface</label>
        <description lang="en_US">Main Web interface for the administration of an application</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL 2.0</license>
        <copyright>2008-2021 Laurent Jouanneau</copyright>
        <author name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix version="&gt;=1.7,&lt;=2.0.0-alpha.1"/>
    </dependencies>
</module>
