<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jacldb@modules.jelix.org" name="jacldb" createdate="2008-01-15">
        <version date="2019-09-10 08:40">1.8.0-pre</version>
        <label lang="en_US">jAclDb</label>
        <description lang="en_US">ressources for the jacl db plugin</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2008-2021 Laurent Jouanneau and other contributors</copyright>
        <author name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix version="&gt;=1.7.0-beta.4,&lt;=2.0.0-alpha.1"/>
        <module name="jacl" version="&gt;=1.7.0-beta.5" />
    </dependencies>
    <autoload>
        <classPattern pattern="/^jAclDb/" dir="classes/" suffix=".class.php"/>
    </autoload>
</module>
